.task-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
}

.task-input-container span {
  margin-top: 6px;
  color: rgba(0, 0, 0, 0.348);
  margin-left: -400px;
}

.help-text {
  background-color: #ffffff2f;
  padding: 1px;
  padding-inline: 8px;
  border-radius: 10px;
}

.task-form {
  display: flex;
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #ffffff;
  transition: box-shadow 0.3s ease-in-out;
}

.task-input {
  flex: 1;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
  transition: border-color 0.3s ease;
}

.task-input:focus {
  border-color: #4caf50;
}

.add-task-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
}

.add-task-btn:hover {
  background-color: #45a049;
}

.add-task-btn:active {
  background-color: #388e3c;
}

.task-form:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.task-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.task-tracker-toggle {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.task-tracker-toggle:hover {
  background-color: #45a049;
}

.task-tracker {
  position: fixed;
  z-index: 1000;
  transform: translateX(1300px);
}

.task-tracker-drawer {
  margin-top: 10px;
  width: 100%;
  max-width: 300px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  position: fixed;
  z-index: 1000;
  margin-inline: auto;
  transform: translateX(80px);
}

@media screen and (max-width: 1370px) {
  .task-tracker-drawer {
    position: absolute;
    bottom: 10px;
    transform: none;
    width: 100%;
    max-width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .chart-legend {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
    max-width: 250px;
    margin: auto;
    transform: translate(0, -26%);
  }

  .chart-legend h3 {
    transform: translateY(64px);
  }

  .chart-container {
    flex: 3;
    width: 100%;
    max-width: 70%;
  }

  .task-tracker-drawer canvas {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
  }

  .task-input-container span {
    margin-left: -200px;
  }
}
